.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #a888cb;
    z-index: 1000;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.title {
    margin: 0;
    font-size: 24px;
    color: white;
}
main {
    padding: 60px 20px 20px;
}
.text {
    font-size: 14px;
    line-height: 1.6;
    border: 1px solid black;
    padding: 20px;
    padding-top: 40px; 
}